.actualFavoritePreviev{

    position: fixed;
    min-height: 450px;
    width: 50%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background-color: rgb(243, 193, 127);
    border: 4px solid darkgreen;


    > .statement{

        font-size: 2rem;
        letter-spacing: 2px;
        margin: 2%;
        text-align: center;
        font-weight: normal;
    }

    
    > .previevActualFavorBeer{

        height: 45vh;
        width: 45vw;
        margin: 0 auto;
        margin-bottom: 2%;
        border: 2px solid green;
        position: relative;

        > h3{
            margin: 2%;
            margin-left: 30%;
            font-size: 2rem;
            font-weight: normal;
        }

        > img{
            width: 14%;
            height: 87%;
            margin: 2%;
            position: absolute;
            left: 4%;
            top: 4%;
        }

        > .price{
            font-weight: bold;
            font-size: 2.5rem;
            margin-left: 30%;

        }

        > .description{
            display: block;
            font-size: 1rem;       
            margin: 2%;
            margin-left: 30%;
            margin-right: 4%;
        }

        > a,
        > button{
            position: absolute;
            text-align: center;
            top: 80%;
            height: 12%;
            @include greenButton(1.1rem, 1.5%);

            &:hover{
                @include greenButtonHover()
            }
        }

        > .close{
            left: 28%;
            width: 20%;
        }

        > a{
            color: rgb(139, 34, 34);
            left: 55%;
            width: 40%;

            &:hover{
                background-color: brown
            }
        }

        > .close{
            text-transform: uppercase;
        }
    }
}




