
.filters{

    position: absolute;
    top: 3vh;
    right: 5vw;
    @include greenButton(1.5rem, 0.7%);
    border: 2px solid brown;
    border-bottom: none;
}




@media (min-width: 1920px)  {

    .filters{

        @include greenButton(1.9rem, 1%);
      
    }
    
}
