.send{
    
    clear: both;
    @include greenButton(1rem, 2%);
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    border: 1px solid brown;

    &:hover{
        background-color: chocolate;
        color: rgb(91, 182, 31);
    }
}