.filtersForm-colors{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 90%;
    width: 50%;
    float: left;
    margin: 2% 0;
    padding: 0 8% 15% 2%;
    text-transform: capitalize;
    font-size: 1rem;

    > label{
        height: 15%;
        margin-bottom: 5%;
    }
}