.inlineValidation{

    position: absolute;
    top: 10%;
    left: 29%;
    height: 5vh;
    width: 16vw;
    background-color: red;
    color: yellowgreen;
    text-transform: none;
    text-align: center;

}


.inlineValidationForChecked{

    position: absolute;
    top: 30%;
    left: 54%;
    height: 5vh;
    width: 16vw;
    background-color: red;
    color: yellowgreen;
    text-transform: none;

}